<!-- slider Area Start-->
<div class="slider-area ">
    <div class="slider-active">
        <div class="single-slider slider-height d-flex align-items-center" data-background="assets/img/hero/h1_hero.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-10">
                        <div class="hero__caption">
                            <h1 data-animation="fadeInUp" data-delay=".4s" >Federación Americana <br>de Shogi.</h1>
                            <span data-animation="fadeInUp" data-delay=".8s" >Integración entre diversas culturas</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-height d-flex align-items-center" data-background="assets/img/hero/h1_hero2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-10">
                        <div class="hero__caption">
                            <h1 data-animation="fadeInUp" data-delay=".4s">Federación Americana <br>de Shogi.</h1>
                            <span  data-animation="fadeInUp" data-delay=".8s">Integración entre diversas culturas</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider Area End-->
<!-- Clients Offers Start -->
<div class="clients-area section-padding30">
    <div class="container">
        <!-- Section Tittle -->
        <div class="row">
            <div class="col-lg-12">
                <div class="section-tittle text-center mb-100">
                    <span class=" wow fadeInUp" data-wow-delay=".2s">Información de interés</span>
                    <h2 class=" wow fadeInUp" data-wow-delay=".3s">Algunos tópicos</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-offers mb-50 wow fadeInUp" data-wow-delay=".2s" >
                    <div class="offers-img">
                        <img src="assets/img/gallery/offers1.jpg" alt="">
                    </div>
                    <div class="offers-cap">
                        <span>1</span>
                        <h3><a href="services.html">DeepMind de Google en el Shogi, GO y Ajedrez</a></h3>
                        <p>AlphaZero logró vencer a los mejores jugadores en estas disciplinas y a las mejores programas</p>
                        <a href="services.html"><i class="ti-arrow-top-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-offers mb-50 wow fadeInUp" data-wow-delay=".4s">
                    <div class="offers-img">
                        <img src="assets/img/gallery/offers2.jpg" alt="">
                    </div>
                    <div class="offers-cap">
                        <span>2</span>
                        <h3><a href="services.html">Información sobre Torneos de Shogi</a></h3>
                        <p>Enterate de los resultados obtenidos por diversos jugadores en ésta disciplina</p>
                        <a href="services.html"><i class="ti-arrow-top-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-offers mb-50 wow fadeInUp" data-wow-delay=".6s">
                    <div class="offers-img">
                        <img src="assets/img/gallery/offers3.jpg" alt="">
                    </div>
                    <div class="offers-cap">
                        <span>3</span>
                        <h3><a href="services.html">Tácticas, estrategias y Tsumes</a></h3>
                        <p>Mejora tu fuerza en el Shogi </p>
                        <a href="services.html"><i class="ti-arrow-top-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Clients Offers End -->
<div class="history-video-area fix">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="video-bg wow fadeInLeft" data-wow-delay=".2s">
                    <img src="assets/img/gallery/videobg.jpg" alt="">
                    <div class="video-icon">
                        <a class="popup-video btn-icon" href="https://www.youtube.com/watch?v=MQQ96yvP8Lw&t=3s" tabindex="0"><i class="fas fa-play"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <!-- Section Tittle 03 -->
                <div class="section-tittle03 section-tittle02 wow fadeInRight" data-wow-delay=".9s">
                    <h2>FSA</h2>
                </div>
                <div class="video-history-cap wow fadeInRight" data-wow-delay=".2s">
                    <h3>FSA</h3>
                    <p>La Federación de Shogi Americana tiene como misión la integración de los jugadores de Shogi y sus respectivas Asociaciones Nacionales.</p>
                    <a href="about.html" class="btn">Sobre nosotros</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Video Area End> -->
<!-- Clients testimonial Start  -->
<div class="clients-testimonial testimonial-padding1">
    <div class="container">
        <!-- Section Tittle -->
        <div class="row">
            <div class="col-lg-12">
                <div class="section-tittle text-center mb-100">
                    <span class="wow fadeInUp" data-wow-delay=".2s">Shogi</span>
                    <h2 class="wow fadeInUp" data-wow-delay=".4s">Más sobre éste Deporte-Ciencia</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="clients-speech-active dot-style">
                    <div class="single-clients-speech">
                        <img src="assets/img/gallery/gallery1.jpg" alt="">
                    </div>
                    <div class="single-clients-speech">
                        <img src="assets/img/gallery/gallery2.jpg" alt="">
                    </div>
                    <div class="single-clients-speech">
                        <img src="assets/img/gallery/gallery3.jpg" alt="">
                    </div>
                    <div class="single-clients-speech">
                        <img src="assets/img/gallery/gallery4.jpg" alt="">
                    </div>
                    <div class="single-clients-speech">
                        <img src="assets/img/gallery/gallery5.jpg" alt="">
                    </div>
                    <div class="single-clients-speech">
                        <img src="assets/img/gallery/gallery6.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Clients testimonial End  -->
<!-- Visit Our Tailor Start -->
<div class="visit-tailor-area fix">
    <!-- left Contents -->
    <div class="tailor-details text-center wow fadeInLeft" data-wow-delay=".2s">
        <span>Japón</span>
        <h3>Más sobre la cultura japonesa y el Shogi</h3>
        <p>Contáctanos<br> shogiamerica@fsa.com</p>
        <ul>
            <li> Reuniones semanales por Disord:</li>
            <li>Sábado a las 19 horas UTC-4</li>
            
        </ul>
        <!-- Social -->
        <div class="visit-social">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fas fa-globe"></i></a>
        </div>
    </div>
    <!--Right Contents  -->
    <div class="tailor-offers wow fadeInRight" data-wow-delay=".2s">
        <div class="offers text-center">
            <h3>Cultura</h3>
            <a href="#" class="btn btn-black">Artículos</a>
        </div>
    </div>
</div>
<!-- Visit Our Tailor End -->
<!-- Testimonial Start -->
<div class="testimonial-area testimonial-padding2">
    <div class="container">
        <!-- Section Tittle 02 -->
        <div class="row">
            <div class="col-lg-12">
                <div class="section-tittle02  wow fadeInUp" data-wow-delay=".2s">
                    <h2>Frases</h2>
                </div>
            </div>
        </div>
       <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="h1-testimonial-active dot-style wow fadeInUp" data-wow-delay=".5s">
                    <!-- Single Testimonial -->
                    <div class="single-testimonial text-center">
                         <!-- Testimonial Content -->
                        <div class="testimonial-caption ">
                            <div class="testimonial-top-cap">
                                <img src="assets/img/icon/testimonial.png" alt="">
                                <p>"Se aprende un poco de la victoria, se aprende mucho de una derrota" Proverbio japonés.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Testimonial -->
                    <div class="single-testimonial text-center">
                         <!-- Testimonial Content -->
                        <div class="testimonial-caption ">
                            <div class="testimonial-top-cap">
                                <img src="assets/img/icon/testimonial.png" alt="">
                                <p>"Todos los hombres pueden ver estas tácticas por las que se conquista, pero lo que nadie puede ver es la estrategia a partir de la cual se desarrolla la victoria" Sun Tzu.</p>

                                <!--"Hideyoshi sabía que debía trabajar constantemente para mejorarse, para superar sus defectos y aumentar su capacidad de introspección, y había decidido que sus samuráis debían hacer lo mismo." Eji Yoshikawa-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
    </div>
</div>
<!-- Testimonial End -->