

            <!-- slider Area Start-->
            <div class="slider-area ">
                <!-- Mobile Menu -->
                <div class="single-slider slider-height2 d-flex align-items-center" data-background="assets/img/hero/about.jpg">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="hero-cap">
                                    <h2>Federación Americana de Shogi - Torneos</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- slider Area End-->
            <div class="history-video-area section-padding2 fix">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="video-bg wow fadeInLeft" data-wow-delay=".2s">
                                <img src="assets/img/gallery/copa.jpg" alt="">
                                <div class="video-icon">
                                    <a class="popup-video btn-icon" href="https://www.youtube.com/watch?v=1aP-TXUpNoU" tabindex="0"><i class="fas fa-play"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <!-- Section Tittle 03 -->
                            <div class="section-tittle03 section-tittle02 wow fadeInRight" data-wow-delay=".9s">
                                <h2>Federación Americana de Shogi</h2>
                            </div>
                            <div class="video-history-cap wow fadeInRight" data-wow-delay=".2s">
                                <h3>Torneos</h3>
                                <p>¡Mensualmente participa en nuestros Torneos de Shogi!</p>
                            <a href="about.html" class="btn">más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Video Area End> -->
            <!-- Visit Our Tailor Start -->
            <div class="visit-tailor-area fix">
                <!-- left Contents -->
                 <div class="tailor-details text-center wow fadeInLeft" data-wow-delay=".2s">
                <span>Japón</span>
                <h3>Más sobre la cultura japonesa y el Shogi</h3>
                <p>Contáctanos<br> shogiamerica@fsa.com</p>
                <ul>
                    <li> Reuniones semanales por Disord:</li>
                    <li>Sábado a las 19 horas UTC-4</li>
                    
                </ul>
                <!-- Social -->
                <div class="visit-social">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fas fa-globe"></i></a>
                </div>
            </div>
            <!--Right Contents  -->
            <div class="tailor-offers wow fadeInRight" data-wow-delay=".2s">
                <div class="offers text-center">
                    <h3>Cultura</h3>
                    <a href="#" class="btn btn-black">Artículos</a>
                </div>
            </div>
        </div>
            <!-- Visit Our Tailor End -->
            <!-- Testimonial Start -->
            <div class="testimonial-area testimonial-padding2">
                <div class="container">
                    <!-- Section Tittle 02 -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-tittle02  wow fadeInUp" data-wow-delay=".2s">
                                <h2>Testimonial</h2>
                            </div>
                        </div>
                    </div>
                <div class="row d-flex justify-content-center">
                        <div class="col-lg-12">
                            <div class="h1-testimonial-active dot-style wow fadeInUp" data-wow-delay=".5s">
                                <!-- Single Testimonial -->
                                <div class="single-testimonial text-center">
                                    <!-- Testimonial Content -->
                                    <div class="testimonial-caption ">
                                        <div class="testimonial-top-cap">
                                            <img src="assets/img/icon/testimonial.png" alt="">
                                            <p>"Se aprende un poco de la victoria, se aprende mucho de una derrota" Proverbio japonés</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Testimonial -->
                                <div class="single-testimonial text-center">
                                    <!-- Testimonial Content -->
                                    <div class="testimonial-caption ">
                                        <div class="testimonial-top-cap">
                                            <img src="assets/img/icon/testimonial.png" alt="">
                                            <p>"Todos los hombres pueden ver estas tácticas por las que se conquista, pero lo que nadie puede ver es la estrategia a partir de la cual se desarrolla la victoria" Sun Tzu.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                </div>
            </div>
            <!-- Testimonial End -->

        