
    <!-- slider Area Start-->
     <div class="slider-area ">
        <!-- Mobile Menu -->
        <div class="single-slider slider-height2 d-flex align-items-center" data-background="assets/img/hero/about.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap">
                            <h2>Tsumes</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->
    <!--================Blog Area =================-->
    <section class="blog_area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="assets/img/blog/single_blog_11.png" alt="">
                                <a href="#" class="blog_item_date">
                                    <h3>18</h3>
                                    <p>Junio</p>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="single-blog.html">
                                    <h2>Tsumes de tres movimientos</h2>
                                </a>
                                

								

								<p align="center">

                           	<iframe src="http://play.mogproject.com/?u=8l_5g1kB_5gpsp_4NP3_9_9_9_9_9.b.2G2rb3s3n3l15p~0.b9219ib9k.r&c0=%E4%BD%9C%E8%80%85%EF%BC%9A%E5%A4%A7%E5%86%85%E5%BB%B6%E4%BB%8B%0A%E7%99%BA%E8%A1%A8%E8%AA%8C%EF%BC%9A%E6%9C%80%E6%96%B0%E8%A9%B0%E5%B0%86%E6%A3%8B%EF%BC%92%EF%BC%90%EF%BC%90%E9%81%B8&bn=%E5%A4%A7%E5%86%85%E5%BB%B6%E4%BB%8B&wn=%E6%9C%80%E6%96%B0%E8%A9%B0%E5%B0%86%E6%A3%8B%EF%BC%92%EF%BC%90%EF%BC%90%E9%81%B8&embed=true&sz=25&layout=s&p=jp1&bi=en&ve=true&se=false" width="281" height="499"></iframe>

							<iframe src="http://play.mogproject.com/?u=7zPl_9_6gsk_6pNzb_6B1p_9_9_9_9.b.G2r2g3s3n3l15p~0.3ij29ib9k.r&c0=%E4%BD%9C%E8%80%85%EF%BC%9A%E5%A4%A7%E5%86%85%E5%BB%B6%E4%BB%8B%0A%E7%99%BA%E8%A1%A8%E8%AA%8C%EF%BC%9A%E6%9C%80%E6%96%B0%E8%A9%B0%E5%B0%86%E6%A3%8B%EF%BC%92%EF%BC%90%EF%BC%90%E9%81%B8&bn=%E5%A4%A7%E5%86%85%E5%BB%B6%E4%BB%8B&wn=%E6%9C%80%E6%96%B0%E8%A9%B0%E5%B0%86%E6%A3%8B%EF%BC%92%EF%BC%90%EF%BC%90%E9%81%B8&embed=true&sz=25&layout=s&p=jp1&bi=en&ve=true&se=false" width="281" height="499"></iframe>


                           </p>

							
							<p align="center">
								<iframe src="http://play.mogproject.com/?u=5zR3_8k_7pB_8p_9_9_9_9_9.b.Grb3g4s4n4l16p~0.0di14ib9k.r&c0=%E4%BD%9C%E8%80%85%EF%BC%9A%E5%A4%A7%E5%86%85%E5%BB%B6%E4%BB%8B%0A%E7%99%BA%E8%A1%A8%E8%AA%8C%EF%BC%9A%E6%9C%80%E6%96%B0%E8%A9%B0%E5%B0%86%E6%A3%8B%EF%BC%92%EF%BC%90%EF%BC%90%E9%81%B8&bn=%E5%A4%A7%E5%86%85%E5%BB%B6%E4%BB%8B&wn=%E6%9C%80%E6%96%B0%E8%A9%B0%E5%B0%86%E6%A3%8B%EF%BC%92%EF%BC%90%EF%BC%90%E9%81%B8&embed=true&sz=25&layout=s&p=jp1&bi=en&ve=true&se=false" width="281" height="499"></iframe>

								<iframe src="http://play.mogproject.com/?u=9_9_4B4_6ng1_7kl_5Pp1N_6s1G_9_9.b.Rrb2g3s2n3l16p~0.2t53k4c1k.r&c0=%E4%BD%9C%E8%80%85%EF%BC%9A%E5%A4%A7%E5%86%85%E5%BB%B6%E4%BB%8B%0A%E7%99%BA%E8%A1%A8%E8%AA%8C%EF%BC%9A%E6%9C%80%E6%96%B0%E8%A9%B0%E5%B0%86%E6%A3%8B%EF%BC%92%EF%BC%90%EF%BC%90%E9%81%B8&bn=%E5%A4%A7%E5%86%85%E5%BB%B6%E4%BB%8B&wn=%E6%9C%80%E6%96%B0%E8%A9%B0%E5%B0%86%E6%A3%8B%EF%BC%92%EF%BC%90%EF%BC%90%E9%81%B8&embed=true&sz=25&layout=s&p=jp1&bi=en&ve=true&se=false" width="281" height="499"></iframe>

							</p>


                                


                           






                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-user"></i> Estrategias</a></li>
                                    <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                                </ul>
                            </div>
                        </article>

                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="assets/img/blog/single_blog_21.png" alt="">
                                <a href="#" class="blog_item_date">
                                    <h3>18</h3>
                                    <p>Junio</p>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="single-blog.html">
                                    <h2>Tsumes de cinco movimientos</h2>
                                </a>
                                 
								<p align="center">
                                	<iframe src="http://play.mogproject.com/?u=6rns_6zP2_8k_7pp_8N_9_9_9_9.b.RBb4g3s2n4l15p~0.c0i29ibx415i3nl.r&c0=%E4%BD%9C%E8%80%85%EF%BC%9A%E5%A4%A7%E5%86%85%E5%BB%B6%E4%BB%8B%0A%E7%99%BA%E8%A1%A8%E8%AA%8C%EF%BC%9A%E6%9C%80%E6%96%B0%E8%A9%B0%E5%B0%86%E6%A3%8B%EF%BC%92%EF%BC%90%EF%BC%90%E9%81%B8&bn=%E5%A4%A7%E5%86%85%E5%BB%B6%E4%BB%8B&wn=%E6%9C%80%E6%96%B0%E8%A9%B0%E5%B0%86%E6%A3%8B%EF%BC%92%EF%BC%90%EF%BC%90%E9%81%B8&embed=true&sz=25&layout=s&p=jp1&bi=en&ve=true&se=false" width="281" height="499"></iframe>
                               
								<iframe src="http://play.mogproject.com/?u=8l_6Sk1_5Bspp_9_9_9_9_9_9.b.G2rb3g2s4n3l16p~0.b9i19i1dk1522n5.r&c0=%E4%BD%9C%E8%80%85%EF%BC%9A%E5%A4%A7%E5%86%85%E5%BB%B6%E4%BB%8B%0A%E7%99%BA%E8%A1%A8%E8%AA%8C%EF%BC%9A%E6%9C%80%E6%96%B0%E8%A9%B0%E5%B0%86%E6%A3%8B%EF%BC%92%EF%BC%90%EF%BC%90%E9%81%B8&bn=%E5%A4%A7%E5%86%85%E5%BB%B6%E4%BB%8B&wn=%E6%9C%80%E6%96%B0%E8%A9%B0%E5%B0%86%E6%A3%8B%EF%BC%92%EF%BC%90%EF%BC%90%E9%81%B8&embed=true&sz=25&layout=s&p=jp1&bi=en&ve=true&se=false" width="281" height="499"></iframe>
                                </p>


								<p align="center">
                               <iframe src="http://play.mogproject.com/?u=7nl_6G1k_6p2_8p_7B1_9_9_9_9.b.RNrb3g4s2n3l16p~0.4o42jmc0k15ibok.r&c0=%E4%BD%9C%E8%80%85%EF%BC%9A%E5%A4%A7%E5%86%85%E5%BB%B6%E4%BB%8B%0A%E7%99%BA%E8%A1%A8%E8%AA%8C%EF%BC%9A%E6%9C%80%E6%96%B0%E8%A9%B0%E5%B0%86%E6%A3%8B%EF%BC%92%EF%BC%90%EF%BC%90%E9%81%B8&bn=%E5%A4%A7%E5%86%85%E5%BB%B6%E4%BB%8B&wn=%E6%9C%80%E6%96%B0%E8%A9%B0%E5%B0%86%E6%A3%8B%EF%BC%92%EF%BC%90%EF%BC%90%E9%81%B8&embed=true&sz=25&layout=s&p=jp1&bi=en&ve=true&se=false" width="281" height="499"></iframe>

								<iframe src="http://play.mogproject.com/?u=6kn1_5g3_6zB2_7L1_9_9_9_9_9.b.2G2rbg4s3n3l18p~0.b9m1im3il1e2b9o.r&c0=%E4%BD%9C%E8%80%85%EF%BC%9A%E5%A4%A7%E5%86%85%E5%BB%B6%E4%BB%8B%0A%E7%99%BA%E8%A1%A8%E8%AA%8C%EF%BC%9A%E6%9C%80%E6%96%B0%E8%A9%B0%E5%B0%86%E6%A3%8B%EF%BC%92%EF%BC%90%EF%BC%90%E9%81%B8&bn=%E5%A4%A7%E5%86%85%E5%BB%B6%E4%BB%8B&wn=%E6%9C%80%E6%96%B0%E8%A9%B0%E5%B0%86%E6%A3%8B%EF%BC%92%EF%BC%90%EF%BC%90%E9%81%B8&embed=true&sz=25&layout=s&p=jp1&bi=en&ve=true&se=false" width="281" height="499"></iframe>

                           </p>

                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                                    <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                                </ul>
                            </div>
                        </article>

                       

                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Previous">
                                        <i class="ti-angle-left"></i>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link">1</a>
                                </li>
                                <li class="page-item active">
                                    <a href="#" class="page-link">2</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Next">
                                        <i class="ti-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <form action="#">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder='Search Keyword'
                                            onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = 'Search Keyword'">
                                        <div class="input-group-append">
                                            <button class="btns" type="button"><i class="ti-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">Buscar</button>
                            </form>
                        </aside>

                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Categorias</h4>
                            <ul class="list cat-list">
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Teoría del Shogi</p>
                                        <p>(37)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Cultura del Japón y el Shogi</p>
                                        <p>(25)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Tecnología y el Shogi</p>
                                        <p>(20)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Torneos Profesionales</p>
                                        <p>(18)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Animes</p>
                                        <p>(15)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Actividades</p>
                                        <p>(12)</p>
                                    </a>
                                </li>
                            </ul>
                        </aside>

                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">Artículos recientes</h3>
                            <div class="media post_item">
                                <img src="assets/img/post/post_1.png" alt="post">
                                <div class="media-body">
                                    <a href="single-blog.html">
                                        <h3>Google Deep Mind y Alpha Zero</h3>
                                    </a>
                                    <p>20 de Junio 2020</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="assets/img/post/post_2.png" alt="post">
                                <div class="media-body">
                                    <a href="single-blog.html">
                                        <h3>Shogi y sus origenes</h3>
                                    </a>
                                    <p>Hace dos horas</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="assets/img/post/post_3.png" alt="post">
                                <div class="media-body">
                                    <a href="single-blog.html">
                                        <h3>Cultura Oriental y el Shogi</h3>
                                    </a>
                                    <p>Hace 6 horas</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="assets/img/post/post_4.png" alt="post">
                                <div class="media-body">
                                    <a href="single-blog.html">
                                        <h3>Japón</h3>
                                    </a>
                                    <p>Hace 12 horas</p>
                                </div>
                            </div>
                        </aside>
                        <aside class="single_sidebar_widget tag_cloud_widget">
                            <h4 class="widget_title">Etiquetas</h4>
                            <ul class="list">
                                <li>
                                    <a href="#">Shogi</a>
                                </li>
                                <li>
                                    <a href="#">Go-Baduk</a>
                                </li>
                                <li>
                                    <a href="#">Inteligencia Artificial</a>
                                </li>
                                <li>
                                    <a href="#">Cultura Japonesa</a>
                                </li>
                                <li>
                                    <a href="#">Teoría de Juegos Combinatorios y el Shogi</a>
                                </li>
                                <li>
                                    <a href="#">Geoestrategia y el Shogi</a>
                                </li>
                                <li>
                                    <a href="#">Torneos</a>
                                </li>
                                <li>
                                    <a href="#">Tsumes</a>
                                </li>
                            </ul>
                        </aside>


                        <aside class="single_sidebar_widget instagram_feeds">
                            <h4 class="widget_title">Instagram Feeds</h4>
                            <ul class="instagram_row flex-wrap">
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="assets/img/post/post_5.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="assets/img/post/post_6.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="assets/img/post/post_7.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="assets/img/post/post_8.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="assets/img/post/post_9.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="assets/img/post/post_10.png" alt="">
                                    </a>
                                </li>
                            </ul>
                        </aside>


                       <aside class="single_sidebar_widget newsletter_widget">
                            <h4 class="widget_title">Suscribete para recibir noticias</h4>

                            <form action="#">
                                <div class="form-group">
                                    <input type="email" class="form-control" onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Ingresar correo electrónico'" placeholder='Ingresar correo electrónico' required>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">Enviar</button>
                            </form>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->
  